*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 900px;
    width: fit-content;
    width: auto;
    background: linear-gradient(white,rgb(82, 16, 16));
}
.flipbook .pages{
    height: 100vh;
}
.image{
    height: 50vh;
    width: 1vh;
    float: left;
}
#pg2{
    width: 1px;
}
.content{
    padding-top: 200px;
    margin-left: 50%;
    float: right;

}
.flipbook{
    margin-left: 40%;
    margin-right: 40%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transform: translateY(0deg);
}
.pages{
    display: inline-flex;
    height: 100px;
    margin: auto;
    

}

#pg1{
    z-index: 3;
float: left; 
transform-style: preserve-3d;
}
#pg2{
    z-index: 2;
}
#pg1{
    z-index: 1;
}
.next-btn:single-button{
    transform: translateY(180deg);
    transform-style: preserve-3d;

}
